{
	"name": "Bol",
	"components": {
		"1" : {
			"type": "Rigidbody",
			"has_collider": true,
			"collider_type": "circle",
			"has_trigger": true
		},
		"2": {
			"type": "SpriteRenderer",
			"sprite": "circle",
			"sorting_order": 0
		}
	}
}
