{
	"name": "player2",
	"components": {
		"1" : {
			"type": "Rigidbody",
			"trigger_radius": 0.55,
			"gravity_scale": 20
		},
		"2": {
			"type": "KeyboardControlsP2"
		},
		"3": {
			"type": "SpriteRenderer",
			"sprite": "ant"
		}
	}
}