{
	"name": "player2",
	"components": {
		"1" : {
			"type": "Rigidbody",
			"trigger_radius": 0.55,
			"gravity_scale": 20,
			"width": 1,
			"height": 0.3
		},
		"2": {
			"type": "KeyboardControlsP2"
		},
		"3": {
			"type": "SpriteRenderer",
			"sprite": "ant2"
		}
	}
}