{
	"name": "player",
	"components": {
		"1": {
			"type": "Rigidbody",
			"trigger_type": "circle",
			"trigger_radius": 0.25,
			"gravity_scale": 20,
			"width": 1,
			"height": 0.26
		},
		"2": {
			"type": "KeyboardControls"
		},
		"3": {
			"type": "SpriteRenderer",
			"sprite": "ant"
		},
		"4": {
			"type": "Grab"
		}
	}
}